@import "tailwindcss";

@theme {
  --color-slate-50: #f8fafc;
  --color-slate-900: #0f172a;
}

:root {
  color-scheme: light;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
}

.slider-no-value::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    opacity: 0;
    cursor: pointer;
}
.slider-no-value::-moz-range-thumb {
    width: 16px;
    height: 16px;
    opacity: 0;
    cursor: pointer;
}

/* Estilos para cuando SÍ tiene valor: Asegurar que se vea el thumb */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #0f172a; /* Slate 900 */
    border-radius: 50%;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #0f172a;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
